*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
}

h1 {
    padding: .5em;
    /* text-shadow: .1em 0px 0px #31100a; */
    /* font-size: 1.4em; */
    color: #fff;
    background: #000;
    font-weight: 9000;
    text-align: center;
}

.tablas {
    display: flex;
    width: 100%;
    flex-direction: column;    
    flex-wrap: wrap;
    font-size: .9em;
}

.registro {
    flex-grow: 1;
    border-collapse: collapse;
}

.registro th {
    color: #000;
    text-align: center;
    padding: 10px;
}

.tabla1 th {
    background-color: #999;
}
.tabla2 th {
    background-color: #999;
}

.registro th {
    border: 1px solid #333;
}


.tablas td {
    padding: 10px;
}

.center {
    text-align: center;
}

button {
    cursor: pointer;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    border: none;
    outline: 1.2px solid #000;
}

button:hover {
    background: #c0c0c07b;
}


/* Estilos SECUNDARIOS  */
.registro th:first-child {
    text-align: left;
}

.tablas tr:nth-child(even){
    background: #eeeeee7c;
}

.tablas tr:not(:first-child):hover{
    outline: 1px solid #31100a;
    border-radius: 2px;
}





/* --------------------------------------------------------------------------------- */

#tablaOrdenada {
    width: 100%;
    border-collapse: collapse;

}

#tablaOrdenada th {
    border: 1px solid #696868;
    background-color: #222;
    color: #fff;
    text-align: left;
    padding: 10px;
}

#tablaOrdenada td {
    padding: 10px;
    /* background-color: #fff; */
}

#tablaOrdenada td.center {
    text-align: center;
}

#tablaOrdenada button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#tablaOrdenada button:hover {
    background-color: #45a049;
}

#tablaOrdenada button:active {
    background-color: #3e8e41;
}

#tablaOrdenada button:focus {
    outline: none;
}


#tablaOrdenada tr:hover {
    background-color: #d6d6d672;
}

@media (max-width: 372px){
    .tablas{
        font-size: .7em;
    }
    button{
        width: 1.8em;
        height: 1.8em;
    }
}

@media (min-width: 800px){
    .tablas {
        flex-direction: row;
        font-size: .9em;
    }

    body{
        padding: 0px 12%;
    }

    button {
        border-radius: 5%;
        border: none;
        outline: 1px solid #000;
        width: 2.2em;
        height: 2.2em;
    }
}

